@model Vision_V1.Models.Chapter

@{
    ViewBag.Title = "Create";
    ViewBag.Controller = "Chapters";
    Layout = "~/Views/Shared/Templates/CreateTemplate.cshtml";
}

@section Typ{Chapter}

@section HiddenFields{
    @Html.HiddenFor(model => model.ID)
}

@section Attribute1Name{@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-lg-3" })}
@section Attribute1Edit{
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
}

@section Attribute2Name{@Html.LabelFor(model => model.EstimatedDuration, htmlAttributes: new { @class = "control-label col-lg-2" })}
@section Attribute2Edit{@Html.EditorFor(model => model.EstimatedDuration, new { htmlAttributes = new { @class = "form-control" } })}

@section CancelButton{
    <button type="button" class="btn btn-danger shadow" onclick="location.href='@Url.Action("Details", "Arcs")'">
        <img src="~/Content/Icons/CancelWhite.png" alt="Cancel" class="small_image" />
    </button>
}