@model Vision_V1.Models.Relationship

@{
    ViewBag.Title = "Delete";
    ViewBag.Controller = "Relationships";
    Layout = "~/Views/Shared/Templates/DeleteTemplate.cshtml";
}

@section Typ{Relationship}

@section Attribute1Name{@Html.DisplayNameFor(model => model.Name)}
@section Attribute1Prop{@Html.DisplayFor(model => model.Name)}

@section Attribute2Name{CP Character Name}
@section Attribute2Prop{@Html.DisplayFor(model => model.CounterpartCharacter.Name)}

@section Attribute3Name{Relationship phases}
@section Attribute3Prop{@Html.DisplayFor(model => model.Phases.Count)}

@section CancelButton{
    <button type="button" class="btn btn-danger shadow" onclick="location.href='@Url.Action("Details", "Characters", new { id = Model.CharacterId })'">
        <img src="~/Content/Icons/CancelWhite.png" alt="Cancel" class="small_image" />
    </button>
}
