@model Vision_V1.Models.Location

@{
    ViewBag.Title = "Delete";
    ViewBag.Controller = "Locations";
    Layout = "~/Views/Shared/Templates/DeleteTemplate.cshtml";
}

@section Typ{Location}

@section Attribute1Name{@Html.DisplayNameFor(model => model.Name)}
@section Attribute1Prop{@Html.DisplayFor(model => model.Name)}

@section Attribute2Name{@Html.DisplayNameFor(model => model.Type)}
@section Attribute2Prop{@Html.DisplayFor(model => model.Type)}

@section Attribute3Name{@Html.DisplayNameFor(model => model.Description)}
@section Attribute3Prop{@Html.DisplayFor(model => model.Description)}

@if (Model.ParentId != null)
{
    @section Attribute4Name{Located in/on}
    @section Attribute4Prop{<span>@Html.DisplayFor(model => model.Orientation) of @Html.DisplayFor(model => model.Parent.Name)</span>}
}

@section Attribute5Name{@Html.DisplayNameFor(model => model.Climate)}
@section Attribute5Prop{@Html.DisplayFor(model => model.Climate)}

@section Attribute6Name{@Html.DisplayNameFor(model => model.LastModified)}
@section Attribute6Prop{@Html.DisplayFor(model => model.LastModified)}

@section CancelButton{
    <button type="button" class="btn btn-danger shadow" onclick="location.href='@Url.Action((string)Session["destinedMethod"], (string)Session["destinedController"])'">
        <img src="~/Content/Icons/CancelWhite.png" alt="Cancel" class="small_image" />
    </button>
}
