@model Vision_V1.Models.CharacterEvolvement

@{
    ViewBag.Title = "Delete";
    ViewBag.Controller = "CharacterEvolvements";
    Layout = "~/Views/Shared/Templates/DeleteTemplate.cshtml";
}

@section Typ{Character evolvement phase}

@section Attribute1Name{@Html.DisplayNameFor(model => model.Name)}
@section Attribute1Prop{@Html.DisplayFor(model => model.Name)}

@section Attribute2Name{@Html.DisplayNameFor(model => model.CharacterDescription)}
@section Attribute2Prop{@Html.DisplayFor(model => model.CharacterDescription)}

@section CancelButton{
    <button type="button" class="btn btn-danger shadow" onclick="location.href='@Url.Action((string)Session["destinedMethod"], (string)Session["destinedController"])'">
        <img src="~/Content/Icons/CancelWhite.png" alt="Cancel" class="small_image" />
    </button>
}
