@model Vision_V1.Models.CharacterEvolvement

@{
    ViewBag.Title = "Details";
    ViewBag.Controller = "CharacterEvolvements";
    Layout = "~/Views/Shared/Templates/DetailsTemplate.cshtml";
}

@section Title{@Model.Name}


@section TitleLinks{
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit","CharacterEvolvements", new { id = Model.ID })'">
        <img src="~/Content/Icons/Edit.png" alt="Load" class="small_image" />
    </button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Delete","CharacterEvolvements", new { id = Model.ID })'">
        <img src="~/Content/Icons/Trash.png" alt="Delete" class="small_image" />
    </button>
    @{
        var page = Vision_V1.ViewModels.PageManager.Pages.Find(p => p.Name == ViewBag.Title && p.Controller == ViewBag.Controller);
        var index = Vision_V1.ViewModels.PageManager.Pages.IndexOf(page);
        var isLast = false;
        if (index == Vision_V1.ViewModels.PageManager.Pages.Count - 1)
        {
            isLast = true;
        }
    }
    @if (Vision_V1.ViewModels.PageManager.Pages.Count > 1 && isLast)
    {
        <button type="button" class="btn btn-default disabled" onclick="location.href='@Url.Action("ChangeStructure","Page")'">
            <img src="~/Content/Icons/SeperatorLight.png" alt="Seperator" class="small_image" />
        </button>
        <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("RemovePageWID","Page", new { id = index })'">
            <img src="~/Content/Icons/Cancel.png" alt="Delete" class="small_image" />
        </button>
    }
}

@section Attribute1Name{@Html.DisplayNameFor(model => model.Name)}
@section Attribute1Prop{@Html.DisplayFor(model => model.Name)}

@section Attribute2Name{@Html.DisplayNameFor(model => model.CharacterDescription)}
@section Attribute2Prop{@Html.DisplayFor(model => model.CharacterDescription)}
