@model Vision_V1.Models.Attribute

@{
    ViewBag.Title = "Edit";
    ViewBag.Controller = "Attributes";
    Layout = "~/Views/Shared/Templates/EditTemplate.cshtml";
}

@section Title{@Model.Name}

@section HiddenFields{@Html.HiddenFor(model => model.ProjectId)}

@section Attribute1Name{@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-lg-3" })}
@section Attribute1Edit{
    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
}

@{
    var sizeList = Vision_V1.Models.Types.GetTypesAsList<Vision_V1.Models.Types.InputFieldSize>();
    var shownInTable = new List<string>() { "Yes", "No" };
}
@section Attribute2Name{@Html.LabelFor(model => model.Size, htmlAttributes: new { @class = "control-label col-lg-3" })}
@section Attribute2Edit{@Html.DropDownListFor(model => model.Size, new SelectList(sizeList), new { htmlAttributes = new { @class = "form-control" } })}

@section Attribute3Name{@Html.LabelFor(model => model.ShowInTable, htmlAttributes: new { @class = "control-label col-lg-3" })}
@section Attribute3Edit{@Html.DropDownListFor(model => model.ShowInTableYN, new SelectList(shownInTable), new { htmlAttributes = new { @class = "form-control" } })}

@section CancelButton{
    <button type="button" class="btn btn-danger shadow" onclick="location.href='@Url.Action("Home", "Attributes")'">
        <img src="~/Content/Icons/CancelWhite.png" alt="Cancel" class="small_image" />
    </button>
}