@model Vision_V1.Models.Book

@{
    ViewBag.Title = "Delete";
    ViewBag.Controller = "Books";
    Layout = "~/Views/Shared/Templates/DeleteTemplate.cshtml";
}

@section Typ{Book}

@section Attribute1Name{@Html.DisplayNameFor(model => model.Name)}
@section Attribute1Prop{@Html.DisplayFor(model => model.Name)}

@section Attribute2Name{@Html.DisplayNameFor(model => model.Summary)}
@section Attribute2Prop{@Html.DisplayFor(model => model.Summary)}

@section Attribute3Name{@Html.DisplayNameFor(model => model.MainPlotline)}
@section Attribute3Prop{
    @if (Model.PlotlineId != null)
    {
        @Html.DisplayFor(model => model.MainPlotline.Name)
    }
    else
    {
        <span>None</span>
    }
}

@section Attribute4Name{@Html.DisplayNameFor(model => model.EstimatedDuration)}
@section Attribute4Prop{@Html.DisplayFor(model => model.EstimatedDuration)}

@section Attribute5Name{@Html.DisplayNameFor(model => model.LastModified)}
@section Attribute5Prop{@Html.DisplayFor(model => model.LastModified)}

@section CancelButton{
    <button type="button" class="btn btn-danger shadow" onclick="location.href='@Url.Action((string)Session["destinedMethod"], (string)Session["destinedController"])'">
        <img src="~/Content/Icons/CancelWhite.png" alt="Cancel" class="small_image" />
    </button>
}
